header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: red;
  height: 7vh;
}
.mainName {
  margin-left: 2vw;
  font-size: 1em;
}
.circles {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 65vh;
}
.circleLeft {
  background-color: blue;
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
}
.circleRight {
  background-color: green;
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
}
.mainPage {
  background-color: yellow;
  width: 100vw;
  height: 100vh;
}
.mainButton {
  display: flex;
  justify-content: center;
  align-items: center;
}
#tagline {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
}
#tagline p {
  flex-wrap: nowrap;
  margin-top: 2vh;
  font-size: 3vw;
}
.letsGo {
  font-size: 1.5em;
  border-radius: 1000px;
  width: 10em;
  height: 3em;
  border: 2px solid black;
  background-blend-mode: luminosity;
}
