* {
  background-color: grey;
}
header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #3b3b3b;
  height: 7vh;
}
.userInputs {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}
.previewSubmitButtons {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}
.viewPortAndImages {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image1 {
  width: 90%;
  height: 90%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.image2 {
  width: 90%;
  height: 90%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.viewPort {
  display: flex;
  align-items: center;
}
.leftUpload {
}
.rightUpload {
}
