header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #3b3b3b;
  height: 7vh;
}
.userInputs {
  margin-top: 43vh;
  display: flex;
  justify-content: center;
}
.previewSubmitButtons {
  margin-top: 2vh;
}
.leftEye {
  height: 5vh;
  width: 30vw;
}
.rightEye {
  height: 5vh;
  width: 30vw;
}
.previewButton {
  font-size: 1.5em;
  border-radius: 1000px;
  width: 10em;
  height: 3em;
  border: 2px solid black;
}
.stereoscopicButton {
  font-size: 1.5em;
  border-radius: 1000px;
  width: 10em;
  height: 3em;
  border: 2px solid black;
}
